{% extends 'base.html.twig' %}

{% block title %}Edit profile{% endblock %}

{% block body %}
    <h1>Edit profile</h1>

    {{ form_errors(profileForm) }}

    {{ form_start(profileForm) }}
        {{ form_row(profileForm.name) }}
        {{ form_row(profileForm.email) }}
        {{ form_row(profileForm.plainPassword.first, {
            label: 'password'
        }) }}
        {{ form_row(profileForm.plainPassword.second, {
            label: 'repeat password'
        }) }}

        {{ form_row(profileForm.imageFile, {
            label: 'import profile picture'
        }) }}
        <div class="image-preview"></div>

        {{ form_row(profileForm.gender, {
            label: 'gender(optional)'
        }) }}
        {{ form_row(profileForm.birthday, {
            label: 'birthday(optional)'
        }) }}

        {{ form_rest(profileForm) }}

        <button type="submit" class="btn">Save changes</button>
    {{ form_end(profileForm) }}
{% endblock %}
