{% extends 'base.html.twig' %}

{% block title %}Messages{% endblock %}

{% block body %}
    <div class="conversation-overview">
        <lu>
            {% for conversation in conversations %}
                <li><a href="{{ path('app_messages', {id: conversation.id}) }}">
                    <h4>{{ conversation.generateDisplayName(app.user) }}</h4>
                </a></li>
            {% else %}
                <a href="{{ path('app_users') }}">Find some friends</a>
                <span>to start a convo with</span>
            {% endfor %}
        </lu>
    </div>

    <div class="conversation-window">
        <lu>
            {% for message in messages %}
                <li>
                    <span class="message-username">{{ message.sender.name }}</span> - 
                    <span class="message-timestamp">{{ message.createdAt|date('d/m/Y') }}</span>
                    <p>{{ message.content }}</p>
                    {% if message.isFriendRequest and not message.sender is same as(app.user) %}
                    <form action="/messages" method="post">
                        <button name="accept_friend_request" value="accept">accept</button>
                        <button name="accept_friend_request" value="decline">decline</button>
                        <input type="hidden" name="friend_name" value="{{ message.sender.name }}">
                        <input type="hidden" name="post_id" value="{{ conversationId }}">
                    </form>
                    {% endif %}
                </li>
            {% else %}
                <p>Select a conversation.</p>
            {% endfor %}
        </lu>
        {% if blocked or messages is empty %}
            <form action="/messages" method="post">
                <textarea name="content" class="message-textarea" placeholder="can't send messages right now" disabled></textarea>
                <input type="submit" class="send-btn" value="Send" disabled>
            </form>
        {% else %}
            <form action="/messages" method="post">
                <textarea name="content" class="message-textarea" placeholder="Write a message ..."></textarea>
                <input type="submit" class="send-btn" value="Send">
            </form>
        {% endif %}
    </div>
{% endblock %}
